.main-form{
  width: 400px;
  margin: auto;
}

.card{
  border-color: lightblue;
}

#avatar{
  border-radius: 50%;
  width:100px;
  height:100px;
  background-image: url("./a.png");
  background-size: cover;
}
