<br>
<br>

  <div class="container">
    
  <!-- <table  datatable id="example" class="row-border hover order-column" class="dark"  width="100%"></table>
</div> -->


<p-table #dt  [stacked]="true" scrollHeight="200px" [resizableColumns]="true" [autoLayout]="true"  [columns]="cols" [value]="leaves"  [paginator]="true" [rows]="7"  [showCurrentPageReport]="true" [(first)]="first"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">


<ng-template pTemplate="caption">
    <div class="row">
        <div class="col-sm">
            <h2>List of Leaves</h2>
        </div>
    </div>
    <div style="text-align: right">        
        <i class="pi pi-search" style="margin:5px 5px 0 0"></i>
        <input type="text" pInputText size="37" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
</ng-template>
<ng-template pTemplate="header" let-columns>
    <tr>
        <th *ngFor="let col of columns" [style.width]="col.width" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
    </tr>
</ng-template>
<ng-template pTemplate="body" let-leave let-i="index"> 
    <tr>
        <!-- <td>{{employee.sno}}</td> -->
        <td>{{i+1}}</td>
        <td >{{leave.leave_type}}</td>
        <td>{{leave.date}}</td>
        <td>{{leave.description}}</td>
        <td>{{leave.posting_date}}</td>
        <td>{{leave.admin_remark}}</td>
        <td>{{leave.admin_remark_date}}</td>
        <td>{{leave.status}}</td>
    </tr>
</ng-template>

</p-table>


</div>


