<div class="container" style="background-color: white;">
    <h2 style="align-content: center; margin-left: 40%; color: #7c7f80;">Working Statistics</h2>
<div class="chart-wrapper" style="width: 70%; margin-left: 20%; margin-top: 5%; margin-bottom: 10%;">
    <canvas baseChart 
        [datasets]="lineChartData" 
        [labels]="lineChartLabels" 
        [options]="lineChartOptions"
        [colors]="lineChartColors" 
        [legend]="lineChartLegend" 
        [chartType]="lineChartType" 
        [plugins]="lineChartPlugins">
    </canvas>
</div>
</div>