<div class="container" style = "background-color:  #3b5998;min-width:100%">
    <div class="row flex-container" style = "display : flex;align-items: stretch;">
        <div class="col-md-4">
                <div class="card shadow p-2 mb-3 bg-white rounded" style="height: 23rem; width: 100%;">
                    <div class="card-title">
                        <div class=" align-items-center"><img
                            src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." width="65"
                            class="mr-3 rounded-circle img-thumbnail shadow-sm">
                          <div class="media-body mt-2">
                            <a routerLink="/profile" style="text-decoration: none;outline: none;">
                              <p class="text-muted mb-0" style="color:black;"> <strong>{{profile.username}}</strong></p>
                            </a>
                            <p style="color:black" class="text-muted mb-0">{{profile.role}}</p>
                          </div>
                        </div>
                    </div>
                    <hr style="height:2px;border-width:0;color:gray;background-color:#60b1d1">
                    <div class="card-body">
                       <p style="display:inline;font-weight: bold;">Name:</p><p style="display: inline;" class="ml-4">{{profile.name}}</p><br><br>
                       <p style="display:inline;font-weight: bold;">Designation:</p><p style="display: inline;" class="ml-2">{{profile.designation}}</p><br><br>
                       <p style="display:inline;font-weight: bold;">Phone:</p><p style="display: inline;" class="ml-4">{{profile.mobileNumber}}</p>
               
                     
                    </div>
                </div>
        
            
                <div class="card shadow p-2 mb-3 bg-white rounded" style="height: 19rem; width: 100%;">
                    <div class="card-body">
                        <div style="background-color:#ffc2b3; max-width: 130px;"><b>Broadcast News</b></div>
                        <div class="card-body" style="height:80px" *ngFor="let notice of broadcastNotices;index as i" >
                            <div style="display: inline-flex;"> <i class="material-icons">campaign</i><div class="card-title"><b>{{notice.title}}:</b><br>{{notice.description}}
                                <br>  {{notice.datetime | date:'short':'+0530'}}<br></div></div>
                        </div>
                    </div>
                </div>
            



           
                <div class="card shadow p-2 mb-3 bg-white rounded" style="height: 18rem; width: 100%;">
            
                    <div class="card-body" >
                        <div style="background-color:#ffc2b3; max-width: 90px;"><b>Event News</b></div>
                        <div class="card-body" style="height:80px" *ngFor="let notice of eventNotices;index as i" >
                          <div style="display: inline-flex;"> <i class="material-icons">event</i><div class="card-title"><b>{{notice.title}}:</b><br>{{notice.description}}
                          <br>  {{notice.datetime | date:'short':'+0530'}}</div></div>
                        </div>
                    </div>
        
                </div>
            
        </div>



        <div class="col-md-8">

            <div class="row">
                <div class="col-md-6">
                    <div class="card shadow p-0 mb-2 bg-white rounded" style="height: 18rem;">
                        <div class="card-body">
                            KPI
                            
                            <circle-progress 
                            [percent]="80"
                            [radius]="50"
                            [outerStrokeWidth]="8"
                            [innerStrokeWidth]="8"
                            [innerStrokeColor]="'#e7e8ea' "
                            [outerStrokeColor]="'#034B98'"
                            [space] = "-8"
                            [animation]="true"
                            [titleFontSize]= "16"
                            [animationDuration]="500"
                            [subtitleFontSize]="10"
                            [responsive]="true"
                            [subtitle]="'Efficiency'"
                            ></circle-progress>
                        

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card shadow p-0 mb-2 bg-white rounded" style="height: 18rem;width:100%;">
                        <div class="card-body">
                            <div class="card-title" style="display:inline-flex;align-items:right;">
                                <h3> Leaves</h3>
                                <div class="left" style="display: inline;">
                                    <div style="float: left;margin-left: 80px;">
                                    <Button style="color: white; padding: 4px 14px; text-align: center; text-decoration: none; border-radius: 4px; display: inline-block; font-size: 90%;" type="button" class="btn btn-primary" [disabled]="!toggleButton"
                                        value="Monthly" (click)="togglePolarMonthly()">Monthly</Button>
                                    </div>   
                                    <div style="float: right;">
                                    <Button type="button" style="color: white; padding: 4px 14px; text-align: center; text-decoration: none; border-radius: 4px; display: inline-block; font-size: 90%;" type="button" class="btn btn-primary" [disabled]="toggleButton"
                                        value="Yearly" (click)="togglePolarYearly()">Yearly</Button>
                                    </div>
                                </div>
                            </div>
                            <div class="chart-wrapper">
                                <p [hidden]="!togglePolar">
                                    <p-chart type="polarArea" [data]="dataYearly"></p-chart>
                                </p>
                                <p [hidden]="togglePolar">
                                    <p-chart type="polarArea" [data]="dataMonthly"></p-chart>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="linegraph">
                        <div class="card shadow p-0 mb-2 bg-white rounded" style="height: 18rem; width: 100%;">
                            <div class="card-body">
                                <div class="card-title">
                                    <h3>No. of hours worked</h3>
                                </div>
                                <div class="chart-wrapper">
                                    <canvas width="200" height=50 baseChart [datasets]="lineChartData"
                                        [labels]="lineChartLabels" [options]="lineChartOptions"
                                        [colors]="lineChartColors" [legend]="lineChartLegend"
                                        [chartType]="lineChartType" [plugins]="lineChartPlugins">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>











            <div class="row">

                <div class="col-md-6">
                    <div class="card shadow p-0 mb-2 bg-white rounded" style="height: 25rem;">
                        <div class="card-body">
                            <div class="card-title">
                                <h3>No. of times Ontime/Late/Absent</h3>
                            </div>
                            <div class="chart-wrapper">
                                <canvas width="200" height="130" responsive="false"  baseChart [data]="doughnutChartData"
                                    [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-md-6">
                    <div class="card shadow p-0 mb-2 bg-white rounded" style="height: 25rem;">
                        <div class="card-body">
                            <div class="card-title" style="display:inline-flex">
                                <h3>Employees</h3>

                            </div>
                            <div class="chart-wrapper" >
                                <br>
                                <p-chart [width]="300" [height]="230" type="pie" [data]="EmpByGender"></p-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
