
<div class="row">

    <div class="col-sm-5">
      <div style="box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px
      #bdbdbd;width:100%;border-radius: 0.6em; position: relative; right: 90%;" class="">
        <div style="color: #fff;
      background-color: #fd9f1b;
      border-bottom: 1px dashed #f37302;
      box-shadow: 0 2px 0 #fd9f1b;border-top-left-radius:0.6em;border-top-right-radius:0.6em;" align="center">
          <h2>Remaining Leaves</h2>

        </div>
        <div align="center">
          <h2 style="padding-bottom: 30px;padding-top: 20px;">{{remainingLeaves}}</h2>

        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <form class="main-form " [formGroup]="dateForm" name="dateForm" #f="ngForm">
        <h2>Leave Date</h2>
        <hr>
        <div class="form-group">

          <label>
            DATE
            <input type="date" placeholder="date" formControlName="dateLeave" class="form-control "
              style="width: 180px;">
          </label>
          <br>
          <label>Reason
            <select  formControlName="reason" class="form-control" style="width: 180px;">
              <option *ngFor="let leave_type of leave_types">{{leave_type.value}}</option>
            </select>
          </label>
          <br>

        </div>
        <div class="alert alert-danger" *ngIf="dateLeave.touched&&dateLeave.invalid">
          <div *ngIf="dateLeave.errors.required">Date is required</div>
        </div>
        <!-- <div class="alert alert-danger" *ngIf="reason.touched&&reason.invalid">
          <div *ngIf="reason.errors.required">Reason is required</div>
        </div> -->
        <button class="btn btn-primary mb-3" data-toggle="modal" data-target="#confirmBox" [disabled]="!f.valid">
          Apply</button>

      </form>








      <div class="modal fade" id="confirmBox">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h4>Confirmation</h4>
              <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              Are you Sure?
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" (click)="onConfirm()" data-dismiss="modal"
                style="background-color:green;" data-target="#statusBox" data-toggle="modal">Yes</button>
              <button class="btn btn-secondary" data-dismiss="modal" style="background-color: red;">No</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
