/* You can add global styles to this file, and also import other style files */
html {
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */

html body{
    height: 100%;
    background-color:#f2f2f2    ;
}

.show-disabled{
    background-color: white !important;
    color: grey !important;
    border:1px solid grey ! important;
    
}
