<div class="row" style="margin-top: 40px;margin-left: 5px;margin-right: 5px;">
    <div class="col-md-3">
        <div class="card"  style=" height: 10rem;border-radius:10px;">
            <div class="card-title" style="font-size:72px;color:#35dbd6;text-align: center;height:6rem" >
                100
            </div>
            <div  style="color:#35dbd6;margin-left:1rem;font-size:20px ;height:4rem;display:inline-flex"><b>Total Projects</b><i class="material-icons" style="margin:auto">description</i></div>
            <div class="card-footer" style="background-color:#35dbd6;margin:auto;height:1%;width:95%;border-radius:2rem;padding-bottom:1px ;"></div>
            
          
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style=" height: 10rem; border-radius:10px;">
            <div class="card-title" style="font-size:72px;color:#ffbf00;text-align: center;height:6rem" >
                25
            </div>
            <div  style="color:#ffbf00;margin-left:1rem;font-size:20px;height:4rem;display:inline-flex"><b>In progress Projects</b><i class="material-icons" style="margin:auto">double_arrow</i></div>
            <div class="card-footer" style="background-color:#ffbf00;margin:auto;height:1%;width:95%;border-radius:2rem;padding-bottom:1px ;"></div>            
        </div>
    </div>
    <div class="col-md-3">
        <div class="card"  style=" height: 10rem; border-radius:10px;">
                <div class="card-title" style="font-size:72px;color:#26823b;text-align: center;height:6rem" >
                    50
                </div>
                <div  style="color:#26823b;margin-left:1rem;font-size:20px;height:4rem;display:inline-flex"><b>Completed Projects</b><i class="material-icons" style="margin:auto">done_outline</i></div>
                <div class="card-footer" style="background-color:#26823b;margin:auto;height:1%;width:95%;border-radius:2rem;padding-bottom:1px ;"></div>     
        </div>
    </div>
    <div class="col-md-3">
        <div class="card"  style=" height: 10rem; border-radius:10px;">
                <div class="card-title" style="font-size:72px;color:#ff0000;text-align: center;height:6rem" >
                    25
                </div>
                <div  style="color:#ff0000;margin-left:1rem;font-size:20px;height:4rem;display: inline-flex;"><b>Stuck Projects</b><i class="material-icons" style="margin:auto">info</i></div>
                <div class="card-footer" style="background-color:#ff0000;margin:auto;height:1%;width:95%;border-radius:2rem;padding-bottom:1px ;"></div>
        </div>
    </div>
</div>
