<div class="jumbotron">
  <!-- <pagination-template #p="paginationApi"> -->
  <div class="activeProjectsHeading">
    <h1 class="activeProjectsHeadingContent">Active Projects</h1>
  </div>
  <button class="button addButton">+</button>
  <div class="row">
    <div class="col-sm-8">



      <div class="status-content">
        <table class="table table-hover table-striped"> 


          <tbody>
            <tr *ngFor="let proj of projects |paginate : {id :'listing_pagination',
        itemsPerPage : 3,
        currentPage: page}; index as i">
              <td><button style="border-radius: 50%; background-color: black;">&iexcl;</button></td>

              <td>{{proj.id}}</td>
              <td>{{proj.name}}</td>
              <td><button style="padding: 0;border: none;background: none; color: black;" (click)="count=i" class="btn btn-success"
                  data-toggle="modal" data-target="#teamModal" (click)="count=i;">Team</button></td>
              <td><button (click)="count2=i;count=i;show=true" style="border-radius: 50%;">&iexcl;</button></td>
            </tr>
          </tbody>
        </table>
        <br>
        <div>
          <pagination-controls class="my-pagination" id="listing_pagination" maxSize="5" directionLinks="true"
            (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    </div>

    

    <div *ngIf="show" class="col-sm-4">
        <h3 style="position: relative; left: 20%;">Task ids</h3>
      <table class="tableTask">
      <tr style="cursor: pointer;"  data-target="#taskModal" data-toggle="modal" class="" >
          <td>{{tasks[0].taskid}}</td>
          <td>{{tasks[1].taskid}}</td>
          <td>{{tasks[2].taskid}}</td>
          <td>{{tasks[3].taskid}}</td>

        </tr>
      </table>
      <h5 style="position: relative; font-size: 14px; left: 22%;">*Click on id for more info </h5>

    </div>
  </div>
</div>

<div class="modal fade" id="teamModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Team Info</h4>
        
      </div>
      <div class="modal-body">
        <table class="tableTeam">
          <tr>
            <th>Name</th>
            <th>Role</th>
          </tr>
          <tr>
            <td>{{projects[count].team.member1.name}}</td>
            <td>{{projects[count].team.member1.role}}</td>
          </tr>
          <tr>
            <td>{{projects[count].team.member2.name}}</td>
            <td>{{projects[count].team.member2.role}}</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal" style="background-color:#0362fc;">Ok</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="taskModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Task Info</h4>
        <!-- <button class="close" data-dismiss="modal">&times;</button> -->
      </div>
      <div class="modal-body">
        <p>TaskId:{{tasks[0].taskid}} </p>
        <p>Assigned By:{{tasks[0].assignee}}</p>
        <p>Status:{{tasks[0].status}}</p>
        <p>Description:{{tasks[0].desc}}</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal" style="background-color:#0362fc;">Ok</button>
      </div>
    </div>
  </div>
</div>