
.activeProjectsHeading{
    height: 120px;
    width: 40%;
    background-color: #0020f2;
    font-size: 50px;
}

.activeProjectsHeadingContent{
    font-size: 45px;
    color: white;
    position: relative;
    top: 35px;
    left: 80px;

}

.addButton{
    border-radius:100%;
    font-size: 40px;
    background-color: #de4d04;
    position: relative;
    top: -30px;
    left: 10px;
    color: white;
    
}


/* .paginator{
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.paginator /deep/ .ngx-pagination .current {
  background: rgb(131, 131, 131);
  border-radius: 4px;
  padding-left: 9px;
  padding-right: 9px;
}

.paginator /deep/ .ngx-pagination a:hover, .ngx-pagination button:hover {
  background: #d4d4d4;
  border-radius: 3px;
  padding-left: 9px;
  padding-right: 9px;
  text-decoration: none;
}

.paginator /deep/ .ngx-pagination a:focus, .ngx-pagination button:focus {
  outline: none;
  background: #d4d4d4;
} */

.table, td, th {
  
  text-align: center;
  
}

.table {
  border-collapse: collapse;
  height: 200px;
  width: 60%;
  text-align: center;
  
}

.tableTeam{
  position: relative;
  left: 20%;
  border-collapse: collapse;
  height: 100px;
  width: 60%;
  text-align: left;
}

.tableTeam, td, th{
  text-align: left;
  height: 30px;
  width: 70px;
  padding: 10px;
}


.tableTask {
  border-collapse: collapse;
  height: 50px;
  width: 60%;
  text-align: center;
  background-color: #e3e2e1;
  color: black;
}


.my-pagination{
  position: relative;
  left: 10%;
  color: #de4d04;

}

