<div class="jumbotron">
  <!-- <pagination-template #p="paginationApi"> -->
  <button class="btn btn-primary">Confirm</button>
  <div class="activeProjectsHeading">
    <h1 class="activeProjectsHeadingContent">Active Projects</h1>
  </div>
  <button class="button addButton" data-target="#projectModal" data-toggle="modal">+</button>
  <div class="row">
    <div class="col-sm-8">



      <div class="status-content">
        <table class="table table-hover table-striped">


          <tbody>
            <tr *ngFor="let proj of projects |paginate : {id :'listing_pagination',
        itemsPerPage : 3,
        currentPage: page}; index as i">
              <td><button style="border-radius: 50%; background-color: black;">&iexcl;</button></td>

              <td>{{proj.project_id}}</td>
              <td>{{proj.name}}</td>
              <td><button style="padding: 0;border: none;background: none; color: black;" (click)="count=i"
                  class="btn btn-success" data-toggle="modal" data-target="#teamModal"
                  (click)="pid_team=i;">Team</button></td>
              <td><button (click)="show=true; getProjectId(i)" style="border-radius: 50%;" >&iexcl;</button></td>
            </tr>
          </tbody>
        </table>
        <br>
        <div>
          <pagination-controls class="my-pagination" id="listing_pagination" maxSize="5" directionLinks="true"
            (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    </div>



    <div *ngIf="show" class="col-sm-4">
      <h3 style="position: relative; left: 20%;">Task ids</h3>
      <button data-target="#addTaskModal" data-toggle="modal" class="btn btn-primary">Add Task</button>
      <table class="tableTask">
        <tr style="cursor: pointer;" data-target="#taskModal" data-toggle="modal" class="">
          <td>Task Id 1</td>
          <td>Task id 2</td>
          <td>Task id 3</td>
          <td>Task id 4</td>

        </tr>
      </table>
      <h5 style="position: relative; font-size: 14px; left: 22%;">*Click on id for more info </h5>

    </div>
  </div>
</div>

<div class="modal fade" id="teamModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Team Info</h4>

      </div>
      <div class="modal-body">
        <table class="tableTeam">
          <tr>
            <th>Name</th>
            <th>Role</th>
          </tr>
          <tr *ngFor="let team of projectJson[pid_team].teams">
            <td>{{team.name}}</td>
            <td>{{team.role}}</td>
          </tr>

        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal" style="background-color:#0362fc;">Ok</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="projectModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Add project</h4>
        <!-- <button class="close" data-dismiss="modal">&times;</button> -->
      </div>
      <div class="modal-body">
        <form action="" [formGroup]="projectForm">
          <label for=""> Name
            <input type="text" formControlName="name" placeholder="Project Name" class="form-control">
          </label>


          <div formArrayName="team" #t2>
            <div *ngFor='let t of team.controls;index as i'>
              <div [formGroupName]="i">
                <input type="text" formControlName="email" placeholder="Member" class="form-control">
                <input type="text" formControlName="role" placeholder="Role" class="form-control">
                <button (click)="addTeam(t2)">Add</button>
              </div>
            </div>
          </div>






          <button type="submit" class="btn btn-primary" (click)="onConfirm()"> Submit</button>
        </form>

      </div>

    </div>
  </div>




</div>


<div class="modal fade" id="addTaskModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Add Task</h4>
        <!-- <button class="close" data-dismiss="modal">&times;</button> -->
      </div>
      <div class="modal-body">
        <form action="" [formGroup]="taskForm">
          <label for=""> Project Id
            <input type="text" formControlName="project_id" placeholder="project id" class="form-control">
          </label>
          <label for=""> Task Description
            <input type="text" formControlName="description" placeholder="description" class="form-control">
          </label>
          <label for=""> Assignee
            <input type="text" formControlName="assignee" placeholder="assignee" class="form-control">
          </label>


          <button type="submit" class="btn btn-primary" (click)="onTaskSubmit()" data-dismiss="modal">Submit</button>
        </form>

      </div>

    </div>
  </div>




</div>