.activeProjectsHeading{
    height: 100px;
    width: 300px;
    background-color: #0362fc;
    font-size: 50px;
}

.activeProjectsHeadingContent{
    font-size: 30px;
    color: white;
    position: relative;
    top: 30px;
    left: 30px;

}

.addButton{
    border-radius:50%;
    font-size: 35px;
    background-color: #fc6203;
    position: relative;
    top: -20px;
    left: 10px;
    color: white;
}


/* .paginator{
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.paginator /deep/ .ngx-pagination .current {
  background: rgb(131, 131, 131);
  border-radius: 4px;
  padding-left: 9px;
  padding-right: 9px;
}

.paginator /deep/ .ngx-pagination a:hover, .ngx-pagination button:hover {
  background: #d4d4d4;
  border-radius: 3px;
  padding-left: 9px;
  padding-right: 9px;
  text-decoration: none;
}

.paginator /deep/ .ngx-pagination a:focus, .ngx-pagination button:focus {
  outline: none;
  background: #d4d4d4;
} */

table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  height: 100px;
  width: 250px;
  text-align: center;
}
