



<div class="jumbotron">
<!-- <pagination-template #p="paginationApi"> -->
<div class="activeProjectsHeading">
<h1 class="activeProjectsHeadingContent">Active Projects</h1> </div>
<button class="button addButton">+</button>
<!-- <div class="row"> -->
<!-- <div class="col-sm-6"> -->



      <div class="status-content">
      <table>


      <tbody>
        <tr *ngFor="let proj of projects |paginate : {id :'listing_pagination',
        itemsPerPage : 3,
        currentPage: page}; index as i">
          <td>{{proj.id}}</td>
          <td>{{proj.name}}</td>
          <td><button  style="padding: 0;border: none;background: none;" class="btn btn-success" data-toggle="modal" data-target="#teamModal" (click)="count=i;">More</button></td>

<div class="modal fade" id="teamModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Team Info</h4>
        <!-- <button class="close" data-dismiss="modal">&times;</button> -->
      </div>
      <div class="modal-body">
        <table class="table" >
            <tr><th>Name</th><th>Role</th></tr>
            <tr><td>{{proj.team.member1.name}}</td>
                <td>{{proj.team.member1.role}}</td>
            </tr>
            <tr><td>{{proj.team.member2.name}}</td>
              <td>{{proj.team.member2.role}}</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal" style="background-color:#0362fc;">Ok</button>
      </div>
    </div>
  </div>
</div>

        </tr>
      </tbody>
    </table>
  </div>
  <br>

  <!-- <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
    <a *ngIf="!p.isFirstPage()" (click)="p.previous()">  </a>
  </div> -->

  <div>
    <pagination-controls class="my-pagination" id="listing_pagination"  maxSize="5" directionLinks = "true" (pageChange)="page = $event"></pagination-controls>
  </div>

   <!-- </pagination-template> -->


</div>




