<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h3>List of Employees</h3>
                </div>
                <div class="col">
                    <!-- Button trigger modal -->
                    <button type="button" class="float-right btn btn-primary" data-toggle="modal" data-target="#createEmployee">
                    <i class="material-icons">add_circle</i>Add Employee
                    </button>
                </div>
            </div>
            <hr/>
            <div class="table table-responsive">
                <table id="example" class="display" width="100%"></table>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="createEmployee" tabindex="-1" role="dialog" aria-labelledby="createEmployee" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Create Employee Account</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" required id="email" aria-describedby="emailHelp" placeholder="Enter email">           
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" required id="password" placeholder="Password">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)='createAccount()'>Create Account</button>
          </div>
        </div>
      </div>
    </div>
<!-- <table id="employeeData" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#S.No</th>
                <th width="120">Email</th>
                <th width="200">Full Name</th>
                <th>Designation</th>
                <th width="120">Role</th>
                <th width="200">Reg Date</th>
                <th width="200">Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of empData;index as i">
                <td>{{i+1}}</td>
                <td>{{emp.email || "NA"}}</td>
                <td>{{emp.name || "NA"}}</td>
                <td>{{emp.designation || "NA"}}</td>
                <td>{{emp.role || "NA"}}</td>
                <td>{{emp.registeredOn || "NA"}}</td>
                <td>{{emp.status || "NA"}}</td>
                <td>
                    <a href="#">
                        <i class="material-icons">mode_edit</i>
                    </a>
                    <a href="#">
                        <i class="material-icons" title="Inactive">clear</i>
                    </a>
                </td>
            </tr>
       </tbody>
    </table> -->
</div>