<div class="container">

<div class="alert alert-danger" *ngIf="!ifHR">Invalid Request</div>

<div *ngIf="ifHR">
<br>
<br>

<div class = "container">
  <table  id="example" class="row-border hover order-column" ></table>
</div> 

<div>
</div>
<div class="modal" id="modalForStatusUpdate" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                 <h3 class="modal-title">Leave Status</h3>

            </div>
            <div class="modal-body">
              <form [formGroup]="leavestatus" action="">
                 <select  formControlName="status" id="leavesStatus" class="form-control">
                   <option value="Approved" selected>Approved</option>
                   <option value="Rejected">Rejected</option>
                 </select>
                 <br>
                <textarea formControlName="desc" class="form-control" name="desc" id="leavesDesc" cols="20" rows="10" placeholder="Description"></textarea>
                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary " (click)="updateStatus();closeModal()">Save</button>
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
            </div>
        </div>
    </div>
</div>
   
  
 











      

      <div class="modal fade" id="ManageLeave">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h4>Leave Status</h4>
            </div>
            <div class="modal-body" *ngIf="leaves.length>0">
      
              <!-- <p><b>Email</b>:{{leaves[count].email}}</p> -->
              <p><b>Leave on</b>:{{leaves[count].date}}</p>
              <p><b>Status</b>:{{leaves[count].status}}</p>
              <p><b>Reason</b>:{{leaves[count].reason}}</p>
      
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  
  
  