

/* button[type=button].disabled{
    background:red;
    }
    .disabled {
        background:red;
    }
    btn btn-primary disabled{
        background:red;
    } */

    .show-disabled{
        background-color: white !important;
        color: grey !important;
        border: none !important;
    }