ng-sidebar-container{
  height: 100vh;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
}

::ng-deep .ng-sidebar{
  width: 200px;
}


.sidebar{
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
}



:host >>> .ng-sidebar {  
   
   background-color:white;
   padding:0px 0px;
  }

  ::selection {
    background-color: #0273d4;
    color: #fff;
  }


.dropdown-item{

  color: #0273d4;
}


.ng-sidebar--push{
  width: 200px;
}

a{
  color: black;
  text-decoration: none;
}


a:focus {
  background-color: #22979c;
}  
