<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">EMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>

      <li class="nav-item" [hidden]="isLoggedIn">
        <a class="nav-link" routerLink='/profile'>{{username}}</a>
      </li>


      <li  class="nav-item dropdown"  [hidden]="isLoggedIn">
        <a class ="nav-link dropdown-toggle" href=# id="navbarDropdown"
        role="button" data-toggle="dropdown">Leave Request</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink='/leaves'>New Request</a>
          <a class="dropdown-item" routerLink='/'>Status</a>
        </div>
      </li>


      <li class="nav-item" [hidden]="isLoggedIn">
        <a class="nav-link" routerLink="/timesheets">Timesheets</a>
      </li>

      <li class="nav-item" [hidden]="isLoggedIn">
        <a class="nav-link" (click) = "logout()">Logout</a>
      </li>

      <li class="nav-item" [hidden]="!isLoggedIn">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>

      <li class="nav-item" [hidden]="!isLoggedIn">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>
