<link href = "http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel = "stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-dark bg-dark mb-0" style="border-radius: 0%;">
  <button (click)="_toggleSidebar()" class="button ml-2" style="position: absolute; left: 0;">
    <span class="glyphicon glyphicon-align-justify"></span>
  </button>
</nav>
<ng-sidebar-container class="mt-0">
  <!-- A sidebar -->
  <ng-sidebar mode="push" class="ng-sidebar" closeOnClickOutside="true" animate="true" [(opened)]="_opened">

    <div class="navbar">

      <div class="py-4 px-3 mb-4">
        <div class="media d-flex align-items-center"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
          <div class="media-body">
            <h4 class="m-0" style="color:white"> Naveen Gaddi</h4>
            <p style="color:white" class="text-muted mb-0">Web developer</p>
          </div>
        </div>
      </div>
      <div>

        <ul class="navbar-nav mr-auto">
          <li class="navbar-brand text-muted"><a style="text-decoration: none" routerLink='/'>EMS</a></li>
          <li class="nav-item">
            <a href="/" class="nav-link"><i class="fa fa-th-large mr-3 text-primary fa-fw"></i>Home</a>
          </li>
          <li class="nav-item" [hidden]="isLoggedIn">
            <a routerLink="/profile" class="nav-link"><i class="fa fa-address-book text-primary fa-fw mr-3"></i>{{username}}</a>
          </li>
          <li class="nav-item" [hidden]="isLoggedIn">
            <a routerLink="/workUpdate" class="nav-link"><i class="fa fa-bar-chart text-primary fa-fw mr-3"></i>  Work-Update</a>
          </li>
          <li class="nav-item dropdown" [hidden]="isLoggedIn">
            <a href="" class="nav-link dropdown-toggle" id="navbar-dropdown" role="button" data-toggle="dropdown">
              <i class="fa fa-calendar text-primary fa-fw mr-3"></i> Leave Request</a>
            <div class="dropdown-menu" style="background-color:rgba(0,0,0,0.05);" aria-labelledby="navbar-dropdown" >
              <a class="dropdown-item"  [routerLink]="['/leaves','NEW']" > New Request </a>
              <a class="dropdown-item" [routerLink]="['/leaves','STATUS']" >Status</a>
              <a *ngIf = "ifHR" class="dropdown-item" [routerLink]="['/leaves','updateStatus']" >Manage Request</a>

            </div>
          </li>

          <li class="nav-item" [hidden]="isLoggedIn">
           
            <a routerLink="/manage-employee" class="nav-link"> <i class="fa fa-users text-primary fa-fw mr-3" ></i>Manage-Employee</a>
          </li>

          <li class="nav-item" [hidden]="isLoggedIn">
           
            <a routerLink="/timesheets" class="nav-link"> <i class="fa fa-clock-o text-primary fa-fw mr-3"></i>TimeSheets</a>
          </li>
          <li class="nav-item" [hidden]="isLoggedIn">
           
            <a (click)="logout()" routerLink="/" class="nav-link"> <i class="fa fa-sign-out text-primary fa-fw mr-3"></i>Logout</a>
          </li>

          <li class="nav-item"  [hidden]="!isLoggedIn">
            
            <a routerLink="/register" class="nav-link"><i class="fa fa-user-plus text-primary mr-3 fa-fw"></i>Register</a>
          </li>
          <li class="nav-item" [hidden]="!isLoggedIn">
            
            <a routerLink="/login" class="nav-link"><i class="fa fa-sign-in text-primary fa-fw mr-3"></i>Login</a>
          </li>

          <li class="nav-item">
            <a routerLink="/help" class="nav-link"><i class="fa fa-phone text-primary fa-fw mr-3"></i>  Help-Desk</a>
          </li>

        </ul>
      </div>
    </div>

  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
    
  </div>
  
</ng-sidebar-container>
