<!--Navbar-->

<nav class="navbar mb-0 " style="border-radius: 0%;background-color:#00acc1;">
  <ul class="navbar-nav mr-auto">
    <li class="navbar-brand" style="display: flex; flex-direction: row;">

      <span (click)="_toggleSidebar()" style="position: relative; cursor: pointer;"><i id="toggleBtn">menu</i></span>

      <a style="text-decoration: none; color: black; font-size: 25px; margin-left: 10px" routerLink='/'>EMS</a></li>


    <li class="nav-item mr-3" style="position: absolute; right: 5%;" [hidden]="isLoggedIn">

      <a routerLink="notifications" class="nav-link"><i class="material-icons">notifications</i>Notifications</a>
    </li>
    <li class="nav-item mr-3" style="position: absolute; right: 0;" [hidden]="isLoggedIn">

      <a (click)="logout()" routerLink="/" class="nav-link">Logout</a>
    </li>
  </ul>
</nav>
<ng-sidebar-container class="mt-0">
  <!-- Sidebar -->
  <ng-sidebar mode="push" class="ng-sidebar" animate="true" [(opened)]="_opened">

    <div class="navbar">

      <div class="py-4 mb-4" style="display: flex;flex-direction:column;">
        <div class=" align-items-center"><img
            src="https://res.cloudinary.com/mhmd/image/upload/v1556074849/avatar-1_tcnd60.png" alt="..." width="65"
            class="mr-3 rounded-circle img-thumbnail shadow-sm">
          <div class="media-body mt-2">
            <a routerLink="/profile" style="text-decoration: none;outline: none;">
              <p class="text-muted mb-0" style="color:black;"> <strong>{{username}}</strong></p>
            </a>
            <p style="color:black" class="text-muted mb-0">{{role}}</p>
          </div>
        </div>
      </div>
      <div>

        <ul class="navbar-nav" style="width: 100%;">

          <li class="nav-item">
            <a style="display: flex; flex-direction: row;" href="/" class="nav-link"><i
                class="material-icons">home</i>Home</a>
          </li>
          <li class="nav-item" [hidden]="isLoggedIn">
            <a routerLink="/dashboard" class="nav-link"> <i class="material-icons">pie_chart</i>Dashboard</a>
          </li>
          <li class="nav-item" [hidden]="isLoggedIn">
            <a routerLink="/profile" class="nav-link"><i class="material-icons">person</i>Profile</a>
          </li>

          <li class="nav-item" [hidden]="isLoggedIn">
            <a routerLink="/workUpdate" class="nav-link"><i class="material-icons">laptop</i>
              Work-Update</a>
          </li>
          <li class="nav-item" [hidden]="isLoggedIn">

            <a routerLink="/projects" class="nav-link"><i class="material-icons">assessment</i>Projects</a>
          </li>

          <li class="nav-item" [hidden]="isLoggedIn">
            <a *ngIf="ifHR" routerLink="/leavetype" class="nav-link"><i class="material-icons">date_range</i>Leave
              Type</a>
          </li>
          <li class="nav-item dropdown" [hidden]="isLoggedIn">
            <a href="" class="nav-link dropdown-toggle" id="navbar-dropdown" role="button" data-toggle="dropdown">
              <i class="material-icons">today</i> Leave Request</a>
            <div class="dropdown-menu" style="background-color:rgba(0,0,0,0.05);" aria-labelledby="navbar-dropdown">
              <a class="dropdown-item" [routerLink]="['/leaves','NEW']"> New Request </a>
              <a class="dropdown-item" [routerLink]="['/leaves','STATUS']">Status</a>
              <a *ngIf="ifHR" class="dropdown-item" [routerLink]="['/leaves','updateStatus']">Manage Request</a>

            </div>
          </li>

          <li class="nav-item" [hidden]="isLoggedIn">

            <a routerLink="/manage-employee" class="nav-link"> <i class="material-icons">people</i>Manage-Employee</a>
          </li>

          <li class="nav-item" [hidden]="isLoggedIn">
            <a routerLink="/timesheets" class="nav-link"> <i class="material-icons">schedule</i>TimeSheets</a>
          </li>


          <li class="nav-item" [hidden]="!isLoggedIn">

            <a routerLink="/register" class="nav-link"><i class="material-icons">person_add</i>Register</a>
          </li>
          <li class="nav-item" [hidden]="!isLoggedIn">

            <a routerLink="/login" class="nav-link"><i class="material-icons">meeting_room</i>Login</a>
          </li>

          <li class="nav-item">
            <a routerLink="/help" class="nav-link"><i class="material-icons">settings_phone</i> Help-Desk</a>
          </li>

        </ul>
      </div>
    </div>

  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
    <router-outlet></router-outlet>
  </div>

</ng-sidebar-container>