ng-sidebar-container{
  height: 100vh;
  overflow-y: auto;
  position: absolute;
  width: 300px;
  margin: 0;
  padding: 0;
  
}



.sidebar{
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
}



:host >>> .ng-sidebar {  
   
   background-color:rgba(10, 10, 10, 0.863);
   padding:0px 0px;
  }

  ::selection {
    background-color: #0273d4;
    color: #fff;
  }


.dropdown-item{

  color: #0273d4;
}

