<h1>{{message}}</h1>
<div class="jumbotron">
<form class="main-form"  [formGroup]="accountForm" (ngSubmit)="createAccount()">
  <b><h1>Registration</h1></b><br>
<div class="row">
  <div class="col">
    <div class="form-group">
      <label>
        Email
        <input type="email" formControlName="email" placeholder = "Email Address" class="form-control">
      </label>
    </div>
  </div>



  <div class="col">
    <div class="form-group">
      <label>
        Password
        <input type="password" formControlName="password" placeholder = "Password" class="form-control">
      </label>
    </div>

  </div>
  <br>
</div>

  <div class="alert alert-danger" *ngIf="password.touched&&password.invalid">
    <div *ngIf="password.errors.required">Password is required</div>
    <div *ngIf="password.errors.minlength">Password must be of atleast 8 characters</div>
  </div>
<div  class="alert alert-danger" *ngIf="email.touched&&email.invalid">
  <div *ngIf="email.errors.email">Email is not valid.</div>
  <div *ngIf="email.errors.required">Email is required</div>

</div>

<hr>
 <b><h2> Personal Information </h2></b><br>

 <div class="form-group">
 <label>
   Name
   <input type="name" formControlName="name" placeholder = "Full Name" class="form-control">
 </label>
</div>
<div class="alert alert-danger" *ngIf="name.touched&&name.invalid">
  <div *ngIf="name.errors.required">Name is required</div>
</div>



 <div class="form-group">
 <label>
   DOB
   <input type="date" formControlName="date" class="form-control">
 </label>
</div>
<div class="alert alert-danger" *ngIf="date.touched&&date.invalid">
  <div *ngIf="date.errors.required">Date is required</div>
</div>




<div class="form-group">
 <label>
   Gender
   <select  formControlName="gender" placeholder="Gender" class="form-control" >
     <option selected >Male</option>
     <option>Female</option>
     <option>Others</option>
    </select>
 </label>
</div>
<div class="alert alert-danger" *ngIf="gender.touched&&gender.invalid">
  <div *ngIf="gender.errors.required">Gender field is required</div>
</div>




<div class="form-group">
 <label >
   House No.
   <input type="houseNumber" formControlName="houseNumber" placeholder = "House Number" class="form-control">
 </label>
</div>
<div *ngIf="houseNumber.touched&&houseNumber.invalid" class="alert alert-danger">
  <div *ngIf="houseNumber.errors.required">House number is required</div>
</div>




<div class="form-group">
 <label>
   Street
   <input type="street" formControlName="street" placeholder = "Street Name" class="form-control">
 </label>
</div>
<div class="alert alert-danger" *ngIf="street.touched&&street.invalid">
  <div *ngIf="street.errors.required">Street Name field is required</div>
</div>



<div class="form-group">
 <label>
   Address Line 1
   <input type="addressLine" formControlName="addressLine" placeholder = "Address Line 1" class="form-control">
 </label>
</div>
<div class="alert alert-danger" *ngIf="addressLine.touched&&addressLine.invalid">
  <div *ngIf="addressLine.errors.required">Address field is required</div>
</div>




<div class="form-group">
 <label>
   Mobile Number
   <input type="mobileNumber" formControlName="mobileNumber" placeholder = "Mobile Number" class="form-control">
 </label>
</div>
<div class="alert alert-danger" *ngIf="mobileNumber.touched&&mobileNumber.invalid">
  <div *ngIf="mobileNumber.errors.pattern">Phone number is invalid</div>
  <div *ngIf="mobileNumber.errors.required">Phone number is required</div>
</div>



<div class="form-group">
 <label>
   Country
   <input type='country' placeholder="country" formControlName="country" class="form-control">
 </label>
</div>
<div class="alert alert-danger" *ngIf="country.touched&&country.invalid">
  <div *ngIf="country.errors.required">Country Field is required</div>
</div>

 <button (click)="onSubmit()"  class="btn btn-primary" [disabled]="accountForm.invalid" type="submit" >Submit</button>
</form>

</div>


