<div class="container">
  <div style="box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px
  #bdbdbd;width:22%;border-radius: 0.6em;">
    <div style="color: #fff;
  background-color: #fd9f1b;
  border-bottom: 1px dashed #f37302;
  box-shadow: 0 2px 0 #fd9f1b;border-top-left-radius:0.6em;border-top-right-radius:0.6em;" align="center">
      <h6>{{year}}</h6>
      <h3>{{month}}</h3>
    </div>
    <div align="center">
      <h1>{{date}}</h1>
      <h4>{{day}}</h4>
    </div>
  </div>

  <div>
    Status
    <h4>You are not submitted in-out time today!</h4>
  </div>
</div>
