
<p-toast></p-toast>



    <button pButton type="button" icon="pi pi-search-plus" style="position: relative;float:right;z-index:1;" label="Add Notice" (click)="showDialog()">
    </button>

<p-dialog header="Create Notice" [style]="{'width':'80vh'}"  [(visible)]="showCreateNotice">
    <div class="">
        <form [formGroup]="noticeForm">
          <div class="form-group">
            <label for="name">title</label>
            <input formControlName="title" type="text" class="form-control" required id="name" aria-describedby="nameHelp" placeholder="Enter title">           
          </div>
          
          <div class="form-group">
            <label for="description">description</label> <br>
            <input formControlName="description" type="text" class="form-control" required id="name" aria-describedby="nameHelp" placeholder="Enter description">
          </div>
          <div class="form-group">
            <label for="type">type</label>
            <input formControlName="type" type="text" class="form-control" required id="deadline" aria-describedby="nameHelp" placeholder="Enter Type">           
          </div>
        </form>
        
        
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button type="button" pButton icon="pi pi-times"  label="Cancel" (click)="closeDialog()"></button>
        <button type="button" pButton icon="pi pi-check" label="Create" (click)="addNewNotice();closeDialog()"></button>  
        </div>
    </p-footer>
</p-dialog>



    <div class="row">

     
      <div class="card col-md-12"   style="width: 30rem; margin-top: 5%;margin-left:5%">
        <div class="card-title" style="text-align:center; font-weight:bold;font-size: 30px;">NOTICES</div>
        <div class="card-body" *ngFor="let notice of notices;index as i" >
          <div class="card-title"><h3 >{{notice.title}}</h3> [{{notice.type}}]</div>
          <!-- <p class="card-text">Title: {{notice.title}}</p> -->
          <p class="card-text"> {{notice.description}}</p>
          <!-- <p class="card-text">Type: {{notice.type}}</p> -->

      </div>
    
   




    </div>
  </div>  
 
