<p-toast></p-toast>






<div class="container">
  <div class="card col-md-12" style="width: 100%; margin-top: 2%;">
    <div class=" card-title" style="text-align:center; font-weight:bold;font-size: 50px; margin-top: 20px;">NOTICES
      <button pButton type="button" icon="pi pi-search-plus" style="position: relative;float:right; margin-top: 10px;"
        label="Add Notice" (click)="showDialog()">
      </button></div>
    <div class="card-body">

      <p-dialog header="Create Notice" [style]="{'width':'80vh'}" [(visible)]="showCreateNotice">
        <div class="">
          <form [formGroup]="noticeForm">
            <div class="form-group">
              <label for="name">title</label>
              <input formControlName="title" type="text" class="form-control" required id="name"
                aria-describedby="nameHelp" placeholder="Enter title">
            </div>

            <div class="form-group">
              <label for="description">description</label> <br>
              <input formControlName="description" type="text" class="form-control" required id="name"
                aria-describedby="nameHelp" placeholder="Enter description">
            </div>
            <div class="form-group">
              <label for="type">type</label>
              <!-- <input formControlName="type" type="text" class="form-control" required id="deadline"
                aria-describedby="nameHelp" placeholder="Enter Type"> -->
              <p-dropdown [options]="typesArray" formControlName="type"></p-dropdown>
            </div>
          </form>


        </div>
        <p-footer>
          <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-times" label="Cancel" (click)="closeDialog()"></button>
            <button type="button" pButton icon="pi pi-check" label="Create"
              (click)="addNewNotice();closeDialog()"></button>
          </div>
        </p-footer>
      </p-dialog>




    </div>
  </div>




  <div class="row">
    <div class="col">
      <div class="card shadow p-2 mb-3 bg-white rounded" style="height: 100vh;">
        <div class="card-body">
          <div style="background-color:#ffc2b3; max-width: 200px;font-size: x-large;"><b>Broadcast News</b></div>
          <div class="card-body" style="height:80px" *ngFor="let notice of broadcastNotices|paginate : {id :'broadcast_pagination',
          itemsPerPage : 10,
          currentPage: page};index as i">
            <div style="display: inline-flex;"><i style="font-size: 36px;"  class="material-icons">campaign</i>
              <div style="font-size: large;" class="card-title"><b>{{notice.title}}:</b><br><div style="font-size: medium;" *ngIf="notice.description">{{notice.description}}</div>
                <div style="font-size: small;"> {{notice.datetime | date:'short':'+0530'}}</div></div>
            </div>
          </div>
        </div>
        <div style="margin: auto;">

          <pagination-controls class="my-pagination" id="broadcast_pagination" maxSize="5" directionLinks="true"
          (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    </div>
    
    <div class="col">
      <div class="card shadow p-2 mb-3 bg-white rounded" style="height: 100vh;">
        <div class="card-body">
          <div style="background-color:#ffc2b3; max-width:160px;font-size: x-large;"><b>Event News</b></div>
          <div class="card-body" style="height:80px" *ngFor="let notice of eventNotices|paginate : {id :'event_pagination',
          itemsPerPage : 10,
          currentPage: page};index as i">
          <div style="display: inline-flex;"><i style="font-size: 36px;"  class="material-icons">event</i>
            <div style="font-size: large;" class="card-title"><b>{{notice.title}}:</b><br><div style="font-size: medium;" *ngIf="notice.description">{{notice.description}}</div>
              <div style="font-size: small;"> {{notice.datetime | date:'short':'+0530'}}</div></div>
          </div>
          </div>
        </div>
        <div style="margin: auto;">

          <pagination-controls class="my-pagination" id="event_pagination" maxSize="5" directionLinks="true"
          (pageChange)="page = $event"></pagination-controls>
        </div>
        
      </div>
    </div>
    
  </div>
  
</div>