<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h3>List Of Leave Types</h3>
        </div>
        <div class="col">
          <button type="button" class="float-right btn btn-primary" data-toggle="modal" data-target="#newLeaveType">
            <i class="material-icons">add_circle</i>Add Leave Type
          </button>
        </div>
      </div>
        <hr/>
            <div class="table table-responsive">
                <table id="example2" class="display" width="100%"></table>
            </div>
      
    </div>
  </div>




    <div class="modal" id="modalLeavetypeEdit" role="dialog">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Leave Status</h3>

          </div>
          <div class="modal-body">
            <form action="">
              <div class="form-group">
                <label>Leave Type:</label>
                <input class="form-control" id="editleavename" type="text" name="" value=" {{leaveName}}">
              </div>
                <div class="form-group">
                <label for=""> Description</label>
                
                <textarea class="form-control" id="editleavedesc" type="text" value="{{leaveDesc}}" cols="10"
                  rows="5"></textarea>
              </div>
            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
            <button type="button" class="btn btn-success" (click)="updateLeaveType();closeModal()">Save</button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="newLeaveType" tabindex="-1" role="dialog" aria-labelledby="createLeavetype"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Create New Leave Type</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="">Leave Type</label>
                <input type="text" class="form-control" required id="leavetype" aria-describedby="emailHelp"
                  placeholder="Enter Leave Type">
              </div>
              <div class="form-group">
                <label for="">Description</label>
                <input type="text" class="form-control" required id="desc" placeholder="Description">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)='addLeaveType()'>Create
             Leave Type</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal" role="dialog" id="confirmBox">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Confirmation</h4>
          
        </div>
        <div class="modal-body">
          Are you Sure you want to delete ?
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary"  data-dismiss="modal"
            style="background-color:green;" data-target="#statusBox" data-toggle="modal" (click)="deleteLeaveType();closeModal()">Yes</button>
          <button class="btn btn-secondary" data-dismiss="modal" style="background-color: red;" (click)="closeModal()">No</button>
        </div>
      </div>
    </div>
  </div>
