



<div *ngIf="(command == 'status')">

  <table align="center" style="width: 50%;text-align: center;">
    <thead>
      <th>Date</th>
      <th>Status</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let leave of leaves;index as i">
        <td>{{leave.date}}</td>
        <td>{{leave.status}}</td>
        <td><button class="btn btn-primary" data-toggle="modal" data-target="#myModal2" (click)="count=i;">More</button></td>
      </tr>
    

    </tbody>
  </table>
</div>

<div class="modal fade" id="myModal2">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Leave Status</h4>
        <button class="close" data-dismiss="modal">&times;</button>
      </div>
      <div  class="modal-body">
  
        <p><b>Name</b>:{{name}}</p>
        <p><b>Leave on</b>:{{leaves[count].date}}</p>
        <p><b>Status</b>:{{leaves[count].status}}</p>
        <p><b>Reason</b>:{{leaves[count].reason}}</p>
          

      </div>
      <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>







<div class="container1  jumbotron" *ngIf="(command == 'NEW' )">
  <div class="row">
    <form class = "main-form " [formGroup]="dateForm">
      <h2>Leave Date</h2>
      <hr>
    <div class="form-group">

      <label>
        DATE
      </label>

        <input type="date" formControlName="dateLeave" class="form-control " >


    </div>
    <div class="alert alert-danger" *ngIf="dateLeave.touched&&dateLeave.invalid">
      <div *ngIf="dateLeave.errors.required">Date is required</div>
    </div>
    <button class="btn btn-primary mb-3" data-toggle="modal"  data-target="#myModal"> Apply</button>
    <div class="alert alert-success " *ngIf="mssg">Application submitted
      <div class="close" (click)="(mssg=false)" style="cursor: pointer;">&times;</div>
    </div>
    </form>


  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Confirmation</h4>
          <button class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          Are you Sure?
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" (click)="onConfirm()" data-dismiss="modal" style="background-color:green;">Yes</button>
          <button class="btn btn-secondary" data-dismiss="modal" style="background-color: red;">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
